<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka.persistence{
        journal {
          plugin = "akka.persistence.journal.sqlite"
          sqlite {
              connection-string = "Data Source=c:\akka.db;Version=3;"
          }
        } 
        snapshot-store{
          plugin = "akka.persistence.snapshot-store.sqlite"
          sqlite {
              connection-string = "Data Source=c:\akka.db;Version=3;"
          }
        }
      }
      ]]>
    </hocon>
  </akka>
</configuration>
